.vertical {
  width: 2rem;
  height: 6rem;
  background-color: black;
  margin: auto;
}

.box {
  background-color: black;
  width: 6rem;
  height: 12rem;
  margin: auto;
}

.light {
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
  margin: auto;
  padding: 1.5rem;
}

.red {
  background-color: rgb(246, 171, 171);
}
.yellow {
  background-color: #fbfb85;
}
.green {
  background-color: rgb(159, 241, 159);
}
